Phase I/NodeRED/NodeRed_TrafficMonitor.json
[{"id":"29078f455e518cb7","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"43a6f3a98f95eff1","type":"debug","z":"29078f455e518cb7","name":"Sensor Values","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]},{"id":"4b64d212983e0bc6","type":"debug","z":"29078f455e518cb7","name":"Total & Average msg size","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"7fc95fbc.17bcd","type":"inject","z":"29078f455e518cb7","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":300,"wires":[["4d0ff6d5.e9bc58"]]},{"id":"4d0ff6d5.e9bc58","type":"change","z":"29078f455e518cb7","name":"","rules":[{"t":"set","p":"size_reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[["9a7106a0.9343c8"]]},{"id":"8e34f29c.6a028","type":"inject","z":"29078f455e518cb7","name":"Resume","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["3f9d6138.9e0aae"]]},{"id":"3f9d6138.9e0aae","type":"change","z":"29078f455e518cb7","name":"","rules":[{"t":"set","p":"size_resume","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":340,"wires":[["9a7106a0.9343c8"]]},{"id":"5460124f.6ae8cc","type":"inject","z":"29078f455e518cb7","name":"Pause","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":380,"wires":[["e518e1e.79fb92"]]},{"id":"e518e1e.79fb92","type":"change","z":"29078f455e518cb7","name":"","rules":[{"t":"set","p":"size_pause","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":380,"wires":[["9a7106a0.9343c8"]]},{"id":"9a7106a0.9343c8","type":"msg-size","z":"29078f455e518cb7","name":"msg size monitor","frequency":"hour","interval":"24","statusContent":"tot","estimation":false,"ignore":false,"pauseAtStartup":false,"humanReadableStatus":true,"topicDependent":false,"x":610,"y":300,"wires":[["4b64d212983e0bc6","851b74fc162bd85d"],[]]},{"id":"e18d0d12c46100ac","type":"ibmiot in","z":"29078f455e518cb7","authentication":"boundService","apiKey":"8a18e27ad1385b3a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT device sensor","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":300,"y":240,"wires":[["43a6f3a98f95eff1","9a7106a0.9343c8"]]},{"id":"851b74fc162bd85d","type":"change","z":"29078f455e518cb7","name":"Throughput","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalMsgSize","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[["77feb67b8040260d"]]},{"id":"77feb67b8040260d","type":"ui_chart","z":"29078f455e518cb7","name":"","group":"7afda7aae787d3d7","order":2,"width":0,"height":0,"label":"Total Throughput","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":910,"y":380,"wires":[[]]},{"id":"b5c415613d3e51f4","type":"msg-size","z":"29078f455e518cb7","name":"msg average size monitor","frequency":"sec","interval":"1","statusContent":"avg","estimation":false,"ignore":false,"pauseAtStartup":false,"humanReadableStatus":true,"topicDependent":false,"x":630,"y":180,"wires":[["656d51683f6f52ec"],[]]},{"id":"656d51683f6f52ec","type":"change","z":"29078f455e518cb7","name":"Throughput","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalMsgSize","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["dc457be4845b549c"]]},{"id":"dc457be4845b549c","type":"ui_chart","z":"29078f455e518cb7","name":"","group":"7afda7aae787d3d7","order":2,"width":0,"height":0,"label":"Real Time Traffic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":910,"y":240,"wires":[[]]},{"id":"2180fec09eb06654","type":"ibmiot in","z":"29078f455e518cb7","authentication":"boundService","apiKey":"8a18e27ad1385b3a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT device sensor","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":300,"y":180,"wires":[["b5c415613d3e51f4"]]},{"id":"8a18e27ad1385b3a","type":"ibmiot","name":"mkr1010","keepalive":"60","serverName":"vahvgn.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7afda7aae787d3d7","type":"ui_group","name":"Information","tab":"88fe602a.e1955","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"88fe602a.e1955","type":"ui_tab","name":"Edge system","icon":"dashboard","order":3,"disabled":false,"hidden":false}]