Phase I/NodeRED/NodeRed_AbnormalSound.json
[{"id":"347de64459236eaf","type":"tab","label":"Abnormal Sound ","disabled":false,"info":"","env":[]},{"id":"c7e6db7568d359ef","type":"ui_form","z":"347de64459236eaf","name":"Setting the sound threshold","label":"Please input the sound threshold for judging abnormal behaviours:","group":"77bda0c.5155c6","order":0,"width":"10","height":"6","options":[{"label":"Reporting sound threshold","value":"SoundThreshold","type":"number","required":true,"rows":null}],"formValue":{"SoundThreshold":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":300,"y":200,"wires":[["a895479ad90d1921"]]},{"id":"a895479ad90d1921","type":"switch","z":"347de64459236eaf","name":"Secs >= 0","property":"payload.SoundThreshold","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":200,"wires":[["2c6ee9257be9da5c","854e0fbbf6b5de4d","bd2bb90b8a3e994e"]]},{"id":"2c6ee9257be9da5c","type":"change","z":"347de64459236eaf","name":"setting msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"threshold\":msg.payload.SoundThreshold}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":200,"wires":[["29c06a96418eb024","08ea417e69ea7f54"]]},{"id":"29c06a96418eb024","type":"debug","z":"347de64459236eaf","name":"debug sound threshold","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":160,"wires":[]},{"id":"08ea417e69ea7f54","type":"ibmiot out","z":"347de64459236eaf","authentication":"apiKey","apiKey":"5a7690d8a395090e","outputType":"cmd","deviceId":"7c9ebd3b691c","deviceType":"mkr1010","eventCommandType":"threshold","format":"json","data":"msg.payload","qos":0,"name":"return to mkr1010","service":"registered","x":950,"y":200,"wires":[]},{"id":"5d07708f0b948633","type":"ui_chart","z":"347de64459236eaf","name":"Chart of sound","group":"318dea0ef7bfa9c1","order":1,"width":0,"height":0,"label":"Sound Intensity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Querying Entropy","dot":false,"ymin":"0","ymax":"1200","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":900,"y":1080,"wires":[[]]},{"id":"5fa7deceb573533d","type":"ui_gauge","z":"347de64459236eaf","name":"Gauge of sound","group":"318dea0ef7bfa9c1","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge of Sound Intensity","label":"units","format":"{{value}}","min":"0","max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":1120,"wires":[]},{"id":"f6b0297857f9c32d","type":"ui_text","z":"347de64459236eaf","group":"318dea0ef7bfa9c1","order":4,"width":0,"height":0,"name":"","label":"Sound intensity","format":"{{msg.payload}}","layout":"row-spread","className":"","x":900,"y":1160,"wires":[]},{"id":"4749762cce76276f","type":"switch","z":"347de64459236eaf","name":"Warn on High Values","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"SoundThreshold","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":1200,"wires":[["05382b629a6c3c09"]]},{"id":"05382b629a6c3c09","type":"template","z":"347de64459236eaf","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Abnormal Value Detected {{payload}}","output":"str","x":1120,"y":1200,"wires":[["fd60fb2598cc8b9d"]]},{"id":"fd60fb2598cc8b9d","type":"ui_toast","z":"347de64459236eaf","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1300,"y":1200,"wires":[]},{"id":"1d991a7f74304499","type":"change","z":"347de64459236eaf","name":"setting msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.sound","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1200,"wires":[["5d07708f0b948633","5fa7deceb573533d","f6b0297857f9c32d","4749762cce76276f"]]},{"id":"3da4e543d8253994","type":"function","z":"347de64459236eaf","name":"Timer","func":"var a = flow.get('counter')\nif(a==0){\nvar t1 = Date.now();\nflow.set('t1', t1);\nmsg.payload = 0;\n}\nelse{\nvar t2 = Date.now();\nvar t1 = flow.get('t1');\nvar total_time = t2 - t1\nflow.set('total_time',total_time);\nmsg.total_time = total_time;\n    \n}\n\nflow.set('counter',a+1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1320,"wires":[["f58ae7921aa0c8e5"]]},{"id":"b147fe812595ab70","type":"function","z":"347de64459236eaf","name":"Reset Timer","func":"flow.set('counter',0);","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set('counter',0);","finalize":"","libs":[],"x":1030,"y":1380,"wires":[[]]},{"id":"301952fdf7fd65ca","type":"trigger","z":"347de64459236eaf","name":"Trigger","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"4","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":1380,"wires":[["b147fe812595ab70"]]},{"id":"3b202e1afab560a4","type":"function","z":"347de64459236eaf","name":"reset","func":"flow.set('counter',0);\n\n//reset counter to avoid repeatly send alarm\nmsg.counter = flow.get('counter');\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set('counter',0);","finalize":"","libs":[],"x":1130,"y":1320,"wires":[["7d3706f0ffa6fd4c"]]},{"id":"05455a79b8a82d2c","type":"trigger","z":"347de64459236eaf","name":"Trigger","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"6","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1380,"y":380,"wires":[["d90e30e7018e29e2"]]},{"id":"cdcbfaaf194f840c","type":"ibmiot in","z":"347de64459236eaf","authentication":"apiKey","apiKey":"c10f3c212a3d57a0","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"upload the touch sensor on the bed","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":1160,"y":380,"wires":[["05455a79b8a82d2c"]]},{"id":"dddc1eea232db226","type":"ibmiot in","z":"347de64459236eaf","authentication":"apiKey","apiKey":"5a7690d8a395090e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"upload sound sensor data","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":1260,"wires":[["e17e749f14d66ee0","1d991a7f74304499","1cec3808b4b0f17d","953965681ec87c72"]]},{"id":"e17e749f14d66ee0","type":"function","z":"347de64459236eaf","name":"Get global sleep variable","func":"var sleep = global.get('sleep')\nif( sleep == 0 ) {\n   return null;\n}\nelse{\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1320,"wires":[["3da4e543d8253994","301952fdf7fd65ca"]]},{"id":"d90e30e7018e29e2","type":"function","z":"347de64459236eaf","name":"Set global sleep variable","func":"var sleep = msg.payload;\nglobal.set('sleep', sleep);\nmsg.sleep = sleep;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":380,"wires":[["7cfea812d02756c6"]]},{"id":"7cfea812d02756c6","type":"debug","z":"347de64459236eaf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sleep","targetType":"msg","statusVal":"","statusType":"auto","x":1770,"y":380,"wires":[]},{"id":"0a421e928198d0a7","type":"inject","z":"347de64459236eaf","name":"update every week to count the abnormal behaviours","props":[{"p":"payload"}],"repeat":"","crontab":"00 00 * * 0","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":1240,"y":480,"wires":[["aeae44edf82adf07"]]},{"id":"aeae44edf82adf07","type":"function","z":"347de64459236eaf","name":"function","func":"const d = new Date();\nlet day = d.getDay()\nlet hour = d.getHours()\nlet minute = d.getMinutes()\n\n// When the beginning of this week\n// if (day == 4){\n//   if(hour == 0){\n//     if(minute == 3){\n        \n        //reset the counter_night\n        global.set('counter_night',0);\n        \n//     }\n//   }\n// }\n\nmsg.counter_night = global.get('counter_night');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":480,"wires":[["3fed860b5a8b31fe"]]},{"id":"3fed860b5a8b31fe","type":"debug","z":"347de64459236eaf","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"counter_night","targetType":"msg","statusVal":"","statusType":"auto","x":1710,"y":480,"wires":[]},{"id":"7d3706f0ffa6fd4c","type":"function","z":"347de64459236eaf","name":"Alarm 1 & 2","func":"a = flow.get('counter_night');\nb = global.get('threshold_times')\n\nflow.set('counter_night', a+1);\nglobal.set('counter_night', a+1);\n\nif (a+1>b){\n    // no. of this week > threshold --> read light + buzzer\n    msg.alarm = 2;\n}\nelse{\n    // no. of this week < threshold ==> green light\n    msg.alarm = 1;\n}\n\nmsg.counter_night = flow.get('counter_night')-1;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1320,"wires":[["a6a19bb3d94851f8"]]},{"id":"23aa685d33468da0","type":"debug","z":"347de64459236eaf","name":"debug alarm type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":1740,"wires":[]},{"id":"4da9e052d10d2547","type":"ui_text","z":"347de64459236eaf","group":"f901bf78e0e9e30b","order":0,"width":0,"height":0,"name":"dashboard show abnormal times this week","label":"This Week:","format":"{{msg.counter_night}}","layout":"row-spread","className":"","x":610,"y":1600,"wires":[]},{"id":"f58ae7921aa0c8e5","type":"switch","z":"347de64459236eaf","name":"secs > 5","property":"total_time","propertyType":"msg","rules":[{"t":"gt","v":"5000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":1320,"wires":[["3b202e1afab560a4"]]},{"id":"d481e9409df1680c","type":"ibmiot out","z":"347de64459236eaf","d":true,"authentication":"apiKey","apiKey":"5a7690d8a395090e","outputType":"cmd","deviceId":"7c9ebd3b691c","deviceType":"mkr1010","eventCommandType":"alarm","format":"json","data":"msg.alarm","qos":0,"name":"return to Jinyang's mkr1010","service":"registered","x":1000,"y":1660,"wires":[]},{"id":"33fbd9e2faca0da0","type":"debug","z":"347de64459236eaf","name":"debug abnormal times","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"counter_night","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1680,"wires":[]},{"id":"daa4e5b9fe5dda22","type":"change","z":"347de64459236eaf","name":"setting payload as alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"alarm\":msg.alarm}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1720,"wires":[["23aa685d33468da0","b171ffc5946844ca"]]},{"id":"7ce74ac47c932fe6","type":"ui_form","z":"347de64459236eaf","name":"Setting the abnormal times threshold","label":"Please input the times of abnornal behaviours occur for notifing:","group":"77bda0c.5155c6","order":0,"width":"10","height":"6","options":[{"label":"Reporting threshold (times)","value":"threshold_times","type":"number","required":true,"rows":null}],"formValue":{"threshold_times":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":330,"y":420,"wires":[["2a514acce7cc53f9"]]},{"id":"2a514acce7cc53f9","type":"switch","z":"347de64459236eaf","name":"Secs >= 0","property":"payload.threshold_times","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":420,"wires":[["a4931d52f62b8e32","409c13a57bcf8125","3f16158c1b8784bc"]]},{"id":"a4931d52f62b8e32","type":"change","z":"347de64459236eaf","name":"setting threshold_times","rules":[{"t":"set","p":"threshold_times","pt":"global","to":"payload.threshold_times","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":420,"wires":[[]]},{"id":"409c13a57bcf8125","type":"ui_text","z":"347de64459236eaf","group":"77bda0c.5155c6","order":5,"width":0,"height":0,"name":"","label":"Current threshold of times:","format":"{{msg.payload.threshold_times}}","layout":"row-spread","className":"","x":820,"y":480,"wires":[]},{"id":"854e0fbbf6b5de4d","type":"ui_text","z":"347de64459236eaf","group":"77bda0c.5155c6","order":5,"width":0,"height":0,"name":"","label":"Current sound threshold:","format":"{{msg.payload.SoundThreshold}}","layout":"row-spread","className":"","x":750,"y":260,"wires":[]},{"id":"bd2bb90b8a3e994e","type":"change","z":"347de64459236eaf","name":"Setting global.soundthreshold","rules":[{"t":"set","p":"SoundThreshold","pt":"global","to":"msg.payload.SoundThreshold","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":120,"wires":[[]]},{"id":"f45d9e1b960b6211","type":"switch","z":"347de64459236eaf","name":"Alarm 2","property":"alarm","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1560,"wires":[["0dfbe9ae47d2e674"]]},{"id":"8a003e2d0a01693c","type":"mqtt out","z":"347de64459236eaf","name":"return alarm 1&2 to Xingyu's mkr1010","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"74c90b6a43c02ca8","x":1030,"y":1700,"wires":[]},{"id":"b171ffc5946844ca","type":"change","z":"347de64459236eaf","name":"setting msg.topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"iot-2/type/mkr1010/id/4c11ae916fb0/cmd/alarm/fmt/json\"\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1700,"wires":[["8a003e2d0a01693c"]]},{"id":"63842f398d6c69df","type":"inject","z":"347de64459236eaf","name":"ALARM TYPE 3","props":[],"repeat":"5","crontab":"","once":false,"onceDelay":"","topic":"","x":290,"y":840,"wires":[["61874d6488ce352a","2fe8c9865a09218a"]]},{"id":"61874d6488ce352a","type":"ui_switch","z":"347de64459236eaf","name":"","label":"Switch","tooltip":"","group":"e06849e703e11841","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":470,"y":840,"wires":[["5d4cbf54010552fe"]]},{"id":"58bf764488796303","type":"change","z":"347de64459236eaf","name":"setting msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"alarm\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":840,"wires":[["625ca760f0beba3a","3e92e4c22472cc48","834238a3dd130192","f400fb40a774658e"]]},{"id":"625ca760f0beba3a","type":"change","z":"347de64459236eaf","name":"setting msg.topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"iot-2/type/mkr1010/id/4c11ae916fb0/cmd/alarm/fmt/json\"\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":900,"wires":[["941663b043f08395"]]},{"id":"941663b043f08395","type":"mqtt out","z":"347de64459236eaf","name":"return alarm 3 to Xingyu's mkr1010","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"74c90b6a43c02ca8","x":1480,"y":900,"wires":[]},{"id":"5d4cbf54010552fe","type":"function","z":"347de64459236eaf","name":"setting the switch","func":"payload_last = flow.get(\"payload_last\")\npayload_now = msg.payload\nif (msg.payload == payload_last)\n{\n    return 0;\n}\nelse\n{\n    if(msg.payload)\n    {\n      msg.payload = 3;\n    } \n    else\n    {\n      msg.payload = 1;\n    }\n}\n\npayload_last = payload_now;\nflow.set(\"payload_last\", payload_last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nglobal.set('counter_night',2);","finalize":"","libs":[],"x":650,"y":840,"wires":[["eae4ef8d0a0fff0d"]]},{"id":"9975ea602112294a","type":"link in","z":"347de64459236eaf","name":"","links":["a6a19bb3d94851f8","5771401230e9e6cd"],"x":195,"y":1600,"wires":[["f45d9e1b960b6211","4da9e052d10d2547","33fbd9e2faca0da0","daa4e5b9fe5dda22","8b19b88d02819294","82164bed3062eee5","6fc2d8f654a17d4d"]]},{"id":"a6a19bb3d94851f8","type":"link out","z":"347de64459236eaf","name":"","mode":"link","links":["9975ea602112294a","277a4cc6c3e557ad","ce6e64a084cfd197"],"x":1395,"y":1320,"wires":[]},{"id":"3e92e4c22472cc48","type":"debug","z":"347de64459236eaf","name":"debug alarm type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":940,"wires":[]},{"id":"2fe8c9865a09218a","type":"function","z":"347de64459236eaf","name":"Initialize payload_last","func":"","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nflow.set(\"payload_last\", false)","finalize":"","libs":[],"x":520,"y":800,"wires":[[]]},{"id":"eae4ef8d0a0fff0d","type":"switch","z":"347de64459236eaf","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":840,"wires":[["58bf764488796303"]]},{"id":"bd64ccb863987704","type":"ui_form","z":"347de64459236eaf","name":"Setting INTERVAL","label":"Please input the interval of uploading sound sensor data:","group":"77bda0c.5155c6","order":0,"width":"10","height":"6","options":[{"label":"Reporting Interval (seconds)","value":"Seconds","type":"number","required":true,"rows":null}],"formValue":{"Seconds":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":270,"y":620,"wires":[["7c0c9faba1f9ceeb"]]},{"id":"7c0c9faba1f9ceeb","type":"switch","z":"347de64459236eaf","name":"Secs >= 0","property":"payload.Seconds","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":620,"wires":[["83e28bd743606d7c"]]},{"id":"83e28bd743606d7c","type":"change","z":"347de64459236eaf","name":"setting msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Interval\":msg.payload.Seconds}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":620,"wires":[["085c64f0f427f432","067efbf157ed69ac","dfce67c2901687b6"]]},{"id":"085c64f0f427f432","type":"debug","z":"347de64459236eaf","name":"debug INTERVAL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":560,"wires":[]},{"id":"067efbf157ed69ac","type":"ibmiot out","z":"347de64459236eaf","authentication":"apiKey","apiKey":"5a7690d8a395090e","outputType":"cmd","deviceId":"7c9ebd3b691c","deviceType":"mkr1010","eventCommandType":"INTERVAL","format":"json","data":"msg.payload","qos":0,"name":"return INTERVAL to mkr1010","service":"registered","x":880,"y":620,"wires":[]},{"id":"3f16158c1b8784bc","type":"debug","z":"347de64459236eaf","name":"debug times threshold","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"threshold_times","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":380,"wires":[]},{"id":"dfce67c2901687b6","type":"ui_text","z":"347de64459236eaf","group":"77bda0c.5155c6","order":5,"width":0,"height":0,"name":"","label":"Current interval:","format":"{{msg.payload.Interval}}","layout":"row-spread","className":"","x":840,"y":680,"wires":[]},{"id":"1cec3808b4b0f17d","type":"function","z":"347de64459236eaf","name":"Initialization","func":"","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nglobal.set('counter_night',0);\nglobal.set('threshold_times', 5);","finalize":"","libs":[],"x":550,"y":1260,"wires":[[]]},{"id":"953965681ec87c72","type":"function","z":"347de64459236eaf","name":"upload","func":"var current = new Date().toLocaleString(\"en-GB\");\n\nvar sql= \"INSERT INTO HDB69390.Dataset (time, Sound) VALUES ('\"+current+\"','\"+msg.payload.d.sound+\"');\";\nmsg.payload = sql;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1400,"wires":[["328cd110ba348891"]]},{"id":"328cd110ba348891","type":"Db2 in","z":"347de64459236eaf","Db2":"7fafd5362576ee8b","service":"_ext_","query":"","params":"","name":"","x":670,"y":1400,"wires":[[]]},{"id":"82164bed3062eee5","type":"function","z":"347de64459236eaf","name":"upload","func":"\nvar current = new Date().toLocaleString(\"en-GB\");\nif(msg.alarm == 1){\n    var sql= \"INSERT INTO SPQ39391.SOUNDAlert (time,info) VALUES ('\"+current+\"','No abnormal Behavious Now');\";\n} else{\n    var sql= \"INSERT INTO SPQ39391.SOUNDAlert (time,info) VALUES ('\"+current+\"','System detects the patient is making abnormal sounds in bed');\";\n}\n\nmsg.payload = sql;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1480,"wires":[["bc813e782ac4c412"]]},{"id":"6fc2d8f654a17d4d","type":"function","z":"347de64459236eaf","name":"read","func":"\nvar sql= \"SELECT * FROM SPQ39391.SOUNDAlert ORDER by time DESC fetch first 30 rows only\";\nmsg.payload = sql;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1520,"wires":[["e7939afe51bf25ac"]]},{"id":"bc813e782ac4c412","type":"Db2 in","z":"347de64459236eaf","Db2":"07d2127e54a49dc3","service":"_ext_","query":"","params":"","name":"","x":630,"y":1480,"wires":[[]]},{"id":"e7939afe51bf25ac","type":"Db2 in","z":"347de64459236eaf","Db2":"07d2127e54a49dc3","service":"_ext_","query":"","params":"","name":"","x":630,"y":1520,"wires":[["e7403d733c3b06ec"]]},{"id":"e7403d733c3b06ec","type":"ui_table","z":"347de64459236eaf","group":"96dcd494a05decce","name":"","order":1,"width":"0","height":"0","columns":[{"field":"TIME","title":"TIME","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"INFO","title":"INFO","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":750,"y":1520,"wires":[]},{"id":"f400fb40a774658e","type":"change","z":"347de64459236eaf","name":"SMS setting","rules":[{"t":"set","p":"topic","pt":"msg","to":"IMPORTANT! Detect Deterioration","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Your roommate's condition has deteriorated this week, please keep an eye on him！","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":860,"wires":[["fb708c1fb02daace"]]},{"id":"834238a3dd130192","type":"change","z":"347de64459236eaf","name":"email setting","rules":[{"t":"set","p":"topic","pt":"msg","to":"IMPORTANT! Detect Deterioration","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Your roommate's condition has deteriorated this week, please keep an eye on him！","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":820,"wires":[["98078c4f43f1dc91"]]},{"id":"98078c4f43f1dc91","type":"e-mail","z":"347de64459236eaf","d":true,"server":"smtp.qq.com","port":"587","secure":false,"tls":false,"name":"zczlx79@ucl.ac.uk","dname":"email roommate","x":1400,"y":820,"wires":[]},{"id":"fb708c1fb02daace","type":"twilio out","z":"347de64459236eaf","d":true,"twilio":"19229f00d2d94efa","twilioType":"sms","url":"","number":"+447536341037","name":"message roommate","x":1420,"y":860,"wires":[]},{"id":"8b19b88d02819294","type":"ui_gauge","z":"347de64459236eaf","name":"Gauge of motion","group":"f901bf78e0e9e30b","order":2,"width":0,"height":0,"gtype":"donut","title":"Gauge of Abnormal Times","label":"units","format":"{{msg.counter_night}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":530,"y":1640,"wires":[]},{"id":"52d492a064b2e1f4","type":"comment","z":"347de64459236eaf","name":"Setting the configurable sound threshold and return it to mkr1010","info":"","x":410,"y":60,"wires":[]},{"id":"77c51ba077a863b1","type":"comment","z":"347de64459236eaf","name":"Set the threshold of abnormal times to remind the patient roommate and the center of the medical insurance department","info":"","x":580,"y":320,"wires":[]},{"id":"c095c552e1141b0c","type":"comment","z":"347de64459236eaf","name":"Set the INTERVAL for uploading the data","info":"","x":340,"y":520,"wires":[]},{"id":"8849f991166bedee","type":"comment","z":"347de64459236eaf","name":"ALARM TYPE 3: The medical insurance center reminds the patient's roommate to take care of the patient in time through the switch on the dashboard","info":"","x":670,"y":740,"wires":[]},{"id":"2275a7f28ebe2b57","type":"comment","z":"347de64459236eaf","name":"ALARM TYPE 1: the patient has no abnormal situations--green light and no buzzer in his roommate's room","info":"","x":540,"y":900,"wires":[]},{"id":"27de4082e95fc2b0","type":"comment","z":"347de64459236eaf","name":"ALARM TYPE 2: The patient's condition worsened, as reflected in the number of abnormal sounds that exceeded a set threshold during the week","info":"","x":660,"y":960,"wires":[]},{"id":"e2e5efef7d019443","type":"comment","z":"347de64459236eaf","name":"roommate: yellow light and buzzer","info":"","x":460,"y":1000,"wires":[]},{"id":"7ad98b06e03f2e83","type":"comment","z":"347de64459236eaf","name":"healthcare center: email reminds the officer to see the dashboard","info":"","x":550,"y":1040,"wires":[]},{"id":"0dfbe9ae47d2e674","type":"change","z":"347de64459236eaf","name":"email setting","rules":[{"t":"set","p":"topic","pt":"msg","to":"IMPORTANT! Detect Deterioration","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"The number of symptoms of the patient this week may exceed the threshold, please log in to the dashboard to view the data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1560,"wires":[["3eb11a5565f3531f"]]},{"id":"3eb11a5565f3531f","type":"e-mail","z":"347de64459236eaf","d":true,"server":"smtp.qq.com","port":"587","secure":false,"tls":false,"name":"zczlx79@ucl.ac.uk","dname":"email healthcare center","x":890,"y":1560,"wires":[]},{"id":"40681ba610f68e9d","type":"comment","z":"347de64459236eaf","name":"Determine whether the patient is in bed, and if so, perform abnormal sound detection","info":"","x":1310,"y":300,"wires":[]},{"id":"77bda0c.5155c6","type":"ui_group","name":"Configurable Parameters","tab":"eb4f86cc8e2844f2","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"5a7690d8a395090e","type":"ibmiot","name":"Jinyang's 1010","keepalive":"60","serverName":"ts9xp8.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"318dea0ef7bfa9c1","type":"ui_group","name":"Sound Monitor","tab":"eb4f86cc8e2844f2","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c10f3c212a3d57a0","type":"ibmiot","name":"Wu XINGYU","keepalive":"60","serverName":"dva68t.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"f901bf78e0e9e30b","type":"ui_group","name":"No. of Abnormal Sound Times","tab":"eb4f86cc8e2844f2","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"74c90b6a43c02ca8","type":"mqtt-broker","name":"","broker":"dva68t.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"a:dva68t:mqtttest","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e06849e703e11841","type":"ui_group","name":"Notify the patient's roommates","tab":"eb4f86cc8e2844f2","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7fafd5362576ee8b","type":"Db2","hostname":"815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud","db":"bludb","port":"30367","name":"Xie TianLun"},{"id":"07d2127e54a49dc3","type":"Db2","hostname":"8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud","db":"bludb","port":"30120","name":"Xingyu"},{"id":"96dcd494a05decce","type":"ui_group","name":"Alarm Type Logs","tab":"eb4f86cc8e2844f2","order":6,"disp":true,"width":"12","collapse":false,"className":""},{"id":"19229f00d2d94efa","type":"twilio-api","name":"+19378723161","sid":"ACb7b88c92ff39cde364760d089ba1479a","from":"+19378723161"},{"id":"eb4f86cc8e2844f2","type":"ui_tab","name":"Sound Dashboard","icon":"dashboard","disabled":false,"hidden":false}]