Phase I/NodeRED/NodeRed_NightWandering.json
[{"id":"395ca23f02b68434","type":"tab","label":"Night wander","disabled":false,"info":"","env":[]},{"id":"08f04c6aca6d9ebf","type":"trigger","z":"395ca23f02b68434","name":"Trigger","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"6","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":460,"y":200,"wires":[["c9d2c929d1cd0fff"]]},{"id":"4e4633915792a1a6","type":"ibmiot in","z":"395ca23f02b68434","authentication":"apiKey","apiKey":"c10f3c212a3d57a0","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"upload the touch sensor on the bed","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":200,"wires":[["08f04c6aca6d9ebf","cba9685030fc7cdd","12fa8f3c4718004a"]]},{"id":"c9d2c929d1cd0fff","type":"function","z":"395ca23f02b68434","name":"Set global sleep variable","func":"var sleep = msg.payload;\nglobal.set('sleep', sleep);\nmsg.sleep = sleep;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":200,"wires":[["db56eece9964c910"]]},{"id":"db56eece9964c910","type":"debug","z":"395ca23f02b68434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sleep","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"12fa8f3c4718004a","type":"function","z":"395ca23f02b68434","name":"function","func":"var sleepSensorInterval = global.get(\"sleepSensorInterval\");\nvar dayTotalSleepTime = global.get(\"dayTotalSleepTime\");\nglobal.set(\"dayTotalSleepTime\", dayTotalSleepTime + sleepSensorInterval);\n\nmsg.dayTotalSleepTime = global.get(\"dayTotalSleepTime\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["5b25f0344fb5f63c"]]},{"id":"cba9685030fc7cdd","type":"function","z":"395ca23f02b68434","name":"Initialization","func":"","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nglobal.set('sleepSensorInterval',5);\nglobal.set(\"dayTotalSleepTime\", 0);","finalize":"","libs":[],"x":470,"y":160,"wires":[[]]},{"id":"bfef834bdb64485e","type":"inject","z":"395ca23f02b68434","name":"update every day to reset the total sleep time","props":[{"p":"payload"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":260,"y":300,"wires":[["a18a045ea70eb52e"]]},{"id":"a18a045ea70eb52e","type":"function","z":"395ca23f02b68434","name":"reset","func":"global.set(\"dayTotalSleepTime\", 0);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":300,"wires":[[]]},{"id":"0cb54e3a6def3521","type":"ui_gauge","z":"395ca23f02b68434","name":"Gauge of motion","group":"ead722ae85d74bb4","order":2,"width":0,"height":0,"gtype":"donut","title":"Gauge of Motion Status","label":"units","format":"{{value}}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1050,"y":960,"wires":[]},{"id":"19f337a8cf06a182","type":"ui_text","z":"395ca23f02b68434","group":"ead722ae85d74bb4","order":4,"width":0,"height":0,"name":"","label":"Motion Status:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1040,"y":1000,"wires":[]},{"id":"432def33e94d8992","type":"change","z":"395ca23f02b68434","name":"Setting msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Motion","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1040,"wires":[["055ff1537fee3b2f","0cb54e3a6def3521","19f337a8cf06a182","07fe72dbe680eaf2","1ea18374afb03e9b"]]},{"id":"f644e3df3b18ae79","type":"ibmiot in","z":"395ca23f02b68434","authentication":"apiKey","apiKey":"5a7690d8a395090e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"upload motion sensor data","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":1060,"wires":[["da8bc4f1ab271c5c","432def33e94d8992","bb6823814c23079d"]]},{"id":"236017fbe69e77bd","type":"function","z":"395ca23f02b68434","name":"Determine patient is not in bed","func":"var sleep = global.get('sleep')\nif( sleep == 1 ) {\n   return null;\n}\nelse{\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1080,"wires":[["fa77c99989ddc7d7"]]},{"id":"da8bc4f1ab271c5c","type":"function","z":"395ca23f02b68434","name":"initialization","func":"","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nglobal.set('counter_night',0);\nglobal.set('threshold_times', 5);","finalize":"","libs":[],"x":430,"y":980,"wires":[[]]},{"id":"fa77c99989ddc7d7","type":"function","z":"395ca23f02b68434","name":"Alarm 1 & 2","func":"a = global.get('counter_night');\nb = global.get('threshold_times')\n\nflow.set('counter_night', a+1);\nglobal.set('counter_night', a+1);\n\nif (a+1>b){\n    // no. of this week > threshold --> read light + buzzer\n    msg.alarm = 2;\n}\nelse{\n    // no. of this week < threshold ==> green light\n    msg.alarm = 1;\n}\n\nmsg.counter_night = flow.get('counter_night')-1;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":1080,"wires":[["9b75cc59669b9c92"]]},{"id":"055ff1537fee3b2f","type":"ui_chart","z":"395ca23f02b68434","name":"Chart of motion","group":"ead722ae85d74bb4","order":1,"width":0,"height":0,"label":"Motion Status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Querying Entropy","dot":false,"ymin":"0","ymax":"2","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1040,"y":920,"wires":[[]]},{"id":"bb6823814c23079d","type":"function","z":"395ca23f02b68434","name":"Determine whether during the night","func":"const d = new Date();\nlet day = d.getDay()\nlet hour = d.getHours()\nlet minute = d.getMinutes()\n\n\nif(hour >= 22 || hour <=8){\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1080,"wires":[["236017fbe69e77bd"]]},{"id":"80cf8a368a3c6890","type":"ui_form","z":"395ca23f02b68434","name":"Setting the abnormal times threshold","label":"Please input the times of abnornal behaviours occur for notifing:","group":"33b8f87bdc45c3c4","order":0,"width":"6","height":"4","options":[{"label":"Reporting threshold (times)","value":"threshold_times","type":"number","required":true,"rows":null}],"formValue":{"threshold_times":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":210,"y":460,"wires":[["d861f354b411ddeb"]]},{"id":"d861f354b411ddeb","type":"switch","z":"395ca23f02b68434","name":"Secs >= 0","property":"payload.threshold_times","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":460,"wires":[["ef37e4a48497209f","f55d2a4d9c09edb4","a218a03af50fd616"]]},{"id":"ef37e4a48497209f","type":"change","z":"395ca23f02b68434","name":"setting global.threshold_times","rules":[{"t":"set","p":"threshold_times","pt":"global","to":"payload.threshold_times","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[[]]},{"id":"f55d2a4d9c09edb4","type":"ui_text","z":"395ca23f02b68434","group":"33b8f87bdc45c3c4","order":5,"width":0,"height":0,"name":"","label":"Current threshold of times:","format":"{{msg.payload.threshold_times}}","layout":"row-spread","className":"","x":700,"y":520,"wires":[]},{"id":"a218a03af50fd616","type":"debug","z":"395ca23f02b68434","name":"debug times threshold","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.threshold_times","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":400,"wires":[]},{"id":"60c958d8e806db17","type":"switch","z":"395ca23f02b68434","name":"Secs >= 0","property":"payload.Seconds","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":640,"wires":[["ac957ae4dacd7bf1"]]},{"id":"ac957ae4dacd7bf1","type":"change","z":"395ca23f02b68434","name":"Setting msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Interval\":msg.payload.Seconds}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":640,"wires":[["89795e93055c1e7b","4477b99d49b83251","b11850b169d4c044"]]},{"id":"89795e93055c1e7b","type":"debug","z":"395ca23f02b68434","name":"debug INTERVAL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":580,"wires":[]},{"id":"4477b99d49b83251","type":"ibmiot out","z":"395ca23f02b68434","authentication":"apiKey","apiKey":"5a7690d8a395090e","outputType":"cmd","deviceId":"7c9ebd3b691c","deviceType":"mkr1010","eventCommandType":"INTERVAL","format":"json","data":"msg.payload","qos":0,"name":"return INTERVAL to arduino","service":"registered","x":800,"y":640,"wires":[]},{"id":"b11850b169d4c044","type":"ui_text","z":"395ca23f02b68434","group":"33b8f87bdc45c3c4","order":5,"width":0,"height":0,"name":"","label":"Current interval:","format":"{{msg.payload.Interval}}","layout":"row-spread","className":"","x":760,"y":700,"wires":[]},{"id":"acfaa2e541a60dc3","type":"ui_toast","z":"395ca23f02b68434","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1240,"y":1040,"wires":[]},{"id":"a0e9224f6dd3ceba","type":"template","z":"395ca23f02b68434","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Motion Sensor detects someone passing","output":"str","x":1030,"y":1040,"wires":[["acfaa2e541a60dc3"]]},{"id":"07fe72dbe680eaf2","type":"switch","z":"395ca23f02b68434","name":"Warn on Motion Status ==1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1040,"wires":[["a0e9224f6dd3ceba"]]},{"id":"36b551c852a6bbd5","type":"ui_form","z":"395ca23f02b68434","name":"Setting INTERVAL","label":"Please input the interval of uploading motion sensor data:","group":"33b8f87bdc45c3c4","order":0,"width":"6","height":"4","options":[{"label":"Reporting Interval (seconds)","value":"Seconds","type":"number","required":true,"rows":null}],"formValue":{"Seconds":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":150,"y":640,"wires":[["60c958d8e806db17"]]},{"id":"5f653d29282ccfac","type":"inject","z":"395ca23f02b68434","name":"update every week to count the abnormal behaviours","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":280,"y":1120,"wires":[["3937d95b9d0a6d1e"]]},{"id":"3937d95b9d0a6d1e","type":"function","z":"395ca23f02b68434","name":"function","func":"const d = new Date();\nlet day = d.getDay()\nlet hour = d.getHours()\nlet minute = d.getMinutes()\n\n// When the beginning of this week\n// if (day == 4){\n//   if(hour == 0){\n//     if(minute == 3){\n        \n        //reset the counter_night\n        global.set('counter_night',0);\n        \n//     }\n//   }\n// }\n\nmsg.counter_night = global.get('counter_night');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1120,"wires":[["333cd7f14851e206"]]},{"id":"333cd7f14851e206","type":"debug","z":"395ca23f02b68434","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"counter_night","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1120,"wires":[]},{"id":"5b364aba041c0a05","type":"debug","z":"395ca23f02b68434","name":"debug alarm type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1420,"wires":[]},{"id":"f8a8f292c8dbfdb6","type":"ui_text","z":"395ca23f02b68434","group":"770e7f8ed9716461","order":0,"width":0,"height":0,"name":"dashboard show abnormal times this week","label":"This Week:","format":"{{msg.counter_night}}","layout":"row-spread","className":"","x":410,"y":1300,"wires":[]},{"id":"fdf2c51b019195b1","type":"ibmiot out","z":"395ca23f02b68434","d":true,"authentication":"apiKey","apiKey":"5a7690d8a395090e","outputType":"cmd","deviceId":"7c9ebd3b691c","deviceType":"mkr1010","eventCommandType":"alarm","format":"json","data":"msg.alarm","qos":0,"name":"return to Jinyang's mkr1010","service":"registered","x":800,"y":1340,"wires":[]},{"id":"38f6da40a65562a8","type":"debug","z":"395ca23f02b68434","name":"debug abnormal times this week","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"counter_night","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1340,"wires":[]},{"id":"37a79742eac0121a","type":"change","z":"395ca23f02b68434","name":"Setting payload as alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"alarm\":msg.alarm}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1400,"wires":[["5b364aba041c0a05","99576e13b58c0a08"]]},{"id":"6ceffe7ed5d1584c","type":"mqtt out","z":"395ca23f02b68434","name":"return alarm 1&2 to Xingyu's mkr1010","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"74c90b6a43c02ca8","x":830,"y":1380,"wires":[]},{"id":"99576e13b58c0a08","type":"change","z":"395ca23f02b68434","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"iot-2/type/mkr1010/id/4c11ae916fb0/cmd/alarm/fmt/json\"\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1380,"wires":[["6ceffe7ed5d1584c"]]},{"id":"9b75cc59669b9c92","type":"link out","z":"395ca23f02b68434","name":"","mode":"link","links":["d2df66315ec89d63"],"x":1135,"y":1080,"wires":[]},{"id":"d2df66315ec89d63","type":"link in","z":"395ca23f02b68434","name":"","links":["9b75cc59669b9c92"],"x":75,"y":1300,"wires":[["f8a8f292c8dbfdb6","38f6da40a65562a8","37a79742eac0121a","674057735f668257","e73a50ec23c9ce3f","85056dc6f24bfc2d","655b1ce4154d52f2"]]},{"id":"1ebfea27e3071761","type":"inject","z":"395ca23f02b68434","name":"ALARM TYPE 3","props":[],"repeat":"5","crontab":"","once":false,"onceDelay":"","topic":"","x":170,"y":1620,"wires":[["a4185b27f1d4babc","763b236a091ab7e6"]]},{"id":"a4185b27f1d4babc","type":"ui_switch","z":"395ca23f02b68434","name":"","label":"Switch","tooltip":"","group":"f458e66c2f9e4e3d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":370,"y":1620,"wires":[["db9d6bd86229ec6a"]]},{"id":"f356a76f5441a23a","type":"change","z":"395ca23f02b68434","name":"setting msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"alarm\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1620,"wires":[["7d971ada82d07fac","7a58a8254fce819e","71ef9dfe07e35d24","5e0d543ba3763c5c"]]},{"id":"db9d6bd86229ec6a","type":"function","z":"395ca23f02b68434","name":"setting switch function","func":"payload_last = flow.get(\"payload_last\")\npayload_now = msg.payload\nif (msg.payload == payload_last)\n{\n    return 0;\n}\nelse\n{\n    if(msg.payload)\n    {\n      msg.payload = 3;\n    } \n    else\n    {\n      msg.payload = 1;\n    }\n}\n\npayload_last = payload_now;\nflow.set(\"payload_last\", payload_last);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nglobal.set('counter_night',2);","finalize":"","libs":[],"x":540,"y":1620,"wires":[["d406c3c8341ab1f1"]]},{"id":"763b236a091ab7e6","type":"function","z":"395ca23f02b68434","name":"Initialize payload_last","func":"","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nflow.set(\"payload_last\", false)","finalize":"","libs":[],"x":420,"y":1580,"wires":[[]]},{"id":"d406c3c8341ab1f1","type":"switch","z":"395ca23f02b68434","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1620,"wires":[["f356a76f5441a23a"]]},{"id":"5b25f0344fb5f63c","type":"function","z":"395ca23f02b68434","name":"engine runtime","func":"var t = msg.dayTotalSleepTime;\nvar h = (Math.floor(t / 3600)).toString();\nvar m = (\"0\" + (Math.floor(t%3600 / 60))).slice(-2);\nvar s = (\"0\" + (Math.floor(t%3600 % 60))).slice(-2);\n\nvar ts = h + \":\" +  m + \":\" + s;\nflow.set('DG-WZ-total',{'second':t,'time':ts});\nreturn [\n    {payload:{'second':t,'time':ts}},\n];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":240,"wires":[["4d7d61f9a88ef4a2","7ecd772f39da655b"]]},{"id":"4d7d61f9a88ef4a2","type":"debug","z":"395ca23f02b68434","name":"debug time in bed everday","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":240,"wires":[]},{"id":"7ecd772f39da655b","type":"ui_text","z":"395ca23f02b68434","group":"f18680aea3e29086","order":5,"width":0,"height":0,"name":"dashboard show the time in bed everyday","label":"Total time spent in bed today:","format":"{{msg.payload.time}}","layout":"row-spread","className":"","x":920,"y":280,"wires":[]},{"id":"674057735f668257","type":"ui_gauge","z":"395ca23f02b68434","name":"Gauge of motion","group":"770e7f8ed9716461","order":2,"width":0,"height":0,"gtype":"donut","title":"Gauge of Abnormal Times","label":"units","format":"{{msg.counter_night}}","min":"0","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":330,"y":1260,"wires":[]},{"id":"1ea18374afb03e9b","type":"trigger","z":"395ca23f02b68434","name":"Trigger","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":640,"y":960,"wires":[["0cb54e3a6def3521","19f337a8cf06a182","055ff1537fee3b2f"]]},{"id":"167f3725b9b55998","type":"inject","z":"395ca23f02b68434","name":"store the total sleep time everyday at 23:59","props":[{"p":"payload"}],"repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":250,"y":1680,"wires":[["e71ca1187f75aaf5"]]},{"id":"e71ca1187f75aaf5","type":"function","z":"395ca23f02b68434","name":"Set the msg","func":"var dayTotalSleepTime = global.get(\"dayTotalSleepTime\");\nmsg.payload = dayTotalSleepTime;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1680,"wires":[["a502ef9443b80c39"]]},{"id":"27fdf0240a1084be","type":"Db2 in","z":"395ca23f02b68434","Db2":"7fafd5362576ee8b","service":"_ext_","query":"","params":"","name":"","x":810,"y":1680,"wires":[[]]},{"id":"a502ef9443b80c39","type":"function","z":"395ca23f02b68434","name":"f","func":"\nvar sql= \"INSERT INTO HDB69390.Alert (INFO) VALUES (\"+msg.payload+\");\";\nmsg.payload = sql;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1680,"wires":[["27fdf0240a1084be"]]},{"id":"9a8efb8daac9ca61","type":"comment","z":"395ca23f02b68434","name":"Determine whether the patient is in bed, and if not, perform abnormal motion detection","info":"","x":360,"y":60,"wires":[]},{"id":"749354c4954ad236","type":"comment","z":"395ca23f02b68434","name":"Record the time the patient spends in bed each day","info":"","x":250,"y":100,"wires":[]},{"id":"05a5fb6cdfa6435a","type":"comment","z":"395ca23f02b68434","name":"Set the threshold of abnormal times to remind the patient roommate and the center of the medical insurance department","info":"","x":460,"y":360,"wires":[]},{"id":"7b0b1dee43729f76","type":"comment","z":"395ca23f02b68434","name":"Setting the interval for uploading the data","info":"","x":220,"y":560,"wires":[]},{"id":"845287db1648340c","type":"comment","z":"395ca23f02b68434","name":"ALARM TYPE 1: the patient has no abnormal situations--green light and no buzzer in his roommate's room","info":"","x":420,"y":780,"wires":[]},{"id":"9ca697271303f795","type":"comment","z":"395ca23f02b68434","name":"ALARM TYPE 2: The patient's condition worsened, as reflected in the number of night wandering that exceeded a set threshold during the week","info":"","x":530,"y":840,"wires":[]},{"id":"c84d72420d0776b5","type":"comment","z":"395ca23f02b68434","name":"roommate: yellow light and buzzer","info":"","x":340,"y":880,"wires":[]},{"id":"1de4558debfb7f2a","type":"comment","z":"395ca23f02b68434","name":"healthcare center: email reminds the officer to see the dashboard","info":"","x":430,"y":920,"wires":[]},{"id":"e73a50ec23c9ce3f","type":"function","z":"395ca23f02b68434","name":"upload","func":"\nvar current = new Date().toLocaleString(\"en-GB\");\nif(msg.alarm == 1){\n    var sql= \"INSERT INTO SPQ39391.motionAlert (time,info) VALUES ('\"+current+\"','No abnormal Behavious Now');\";\n} else{\n    var sql= \"INSERT INTO SPQ39391.motionAlert (time,info) VALUES ('\"+current+\"','System detects the patient is wandering at night');\";\n}\n\nmsg.payload = sql;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1180,"wires":[["9bf9971bba55cc0c"]]},{"id":"85056dc6f24bfc2d","type":"function","z":"395ca23f02b68434","name":"read","func":"\nvar sql= \"SELECT * FROM SPQ39391.motionAlert ORDER by time DESC fetch first 30 rows only\";\nmsg.payload = sql;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1220,"wires":[["4ee58485dec30339"]]},{"id":"9bf9971bba55cc0c","type":"Db2 in","z":"395ca23f02b68434","Db2":"07d2127e54a49dc3","service":"_ext_","query":"","params":"","name":"","x":410,"y":1180,"wires":[[]]},{"id":"4ee58485dec30339","type":"Db2 in","z":"395ca23f02b68434","Db2":"07d2127e54a49dc3","service":"_ext_","query":"","params":"","name":"","x":410,"y":1220,"wires":[["ca9a85ae8c12b481"]]},{"id":"ca9a85ae8c12b481","type":"ui_table","z":"395ca23f02b68434","group":"82af2fbf1cbdfc1d","name":"","order":1,"width":"0","height":"0","columns":[{"field":"TIME","title":"TIME","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"INFO","title":"INFO","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":530,"y":1220,"wires":[]},{"id":"655b1ce4154d52f2","type":"switch","z":"395ca23f02b68434","name":"Alarm 2","property":"alarm","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":1460,"wires":[["f83fcde27e331dca"]]},{"id":"f83fcde27e331dca","type":"change","z":"395ca23f02b68434","name":"email setting","rules":[{"t":"set","p":"topic","pt":"msg","to":"IMPORTANT! Detect Deterioration","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"The number of symptoms of the patient this week may exceed the threshold, please log in to the dashboard to view the data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1460,"wires":[["23a940011be86b1c"]]},{"id":"23a940011be86b1c","type":"e-mail","z":"395ca23f02b68434","d":true,"server":"smtp.qq.com","port":"587","secure":false,"tls":false,"name":"zczlx79@ucl.ac.uk","dname":"email healthcare center","x":690,"y":1460,"wires":[]},{"id":"f0cc079b8966635b","type":"comment","z":"395ca23f02b68434","name":"ALARM TYPE 3: The medical insurance center reminds the patient's roommate to take care of the patient in time through the switch on the dashboard","info":"","x":550,"y":1520,"wires":[]},{"id":"71ef9dfe07e35d24","type":"change","z":"395ca23f02b68434","name":"Setting msg.topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"iot-2/type/mkr1010/id/4c11ae916fb0/cmd/alarm/fmt/json\"\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1660,"wires":[["aaf6d7840493768c"]]},{"id":"aaf6d7840493768c","type":"mqtt out","z":"395ca23f02b68434","name":"return alarm 3 to Xingyu's mkr1010","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"74c90b6a43c02ca8","x":1340,"y":1660,"wires":[]},{"id":"5e0d543ba3763c5c","type":"debug","z":"395ca23f02b68434","name":"debug alarm type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":1700,"wires":[]},{"id":"7a58a8254fce819e","type":"change","z":"395ca23f02b68434","name":"SMS setting","rules":[{"t":"set","p":"topic","pt":"msg","to":"IMPORTANT! Detect Deterioration","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Your roommate's condition has deteriorated this week, please keep an eye on him！","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1620,"wires":[["9f720a319b6fcab9"]]},{"id":"7d971ada82d07fac","type":"change","z":"395ca23f02b68434","name":"email setting","rules":[{"t":"set","p":"topic","pt":"msg","to":"IMPORTANT! Detect Deterioration","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Your roommate's condition has deteriorated this week, please keep an eye on him！","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1580,"wires":[["a4059a59990d825d"]]},{"id":"a4059a59990d825d","type":"e-mail","z":"395ca23f02b68434","d":true,"server":"smtp.qq.com","port":"587","secure":false,"tls":false,"name":"zczlx79@ucl.ac.uk","dname":"email roommate","x":1260,"y":1580,"wires":[]},{"id":"9f720a319b6fcab9","type":"twilio out","z":"395ca23f02b68434","d":true,"twilio":"19229f00d2d94efa","twilioType":"sms","url":"","number":"+447536341037","name":"message roommate","x":1280,"y":1620,"wires":[]},{"id":"c10f3c212a3d57a0","type":"ibmiot","name":"Wu XINGYU","keepalive":"60","serverName":"dva68t.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ead722ae85d74bb4","type":"ui_group","name":"Motion Monitor","tab":"886a0b1404d88a4f","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5a7690d8a395090e","type":"ibmiot","name":"Jinyang's 1010","keepalive":"60","serverName":"ts9xp8.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"33b8f87bdc45c3c4","type":"ui_group","name":"Configurable Parameters","tab":"886a0b1404d88a4f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"770e7f8ed9716461","type":"ui_group","name":"No. of Abnormal Night Wander Times","tab":"886a0b1404d88a4f","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"74c90b6a43c02ca8","type":"mqtt-broker","name":"","broker":"dva68t.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"a:dva68t:mqtttest","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f458e66c2f9e4e3d","type":"ui_group","name":"Notify the patient's roommates","tab":"886a0b1404d88a4f","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f18680aea3e29086","type":"ui_group","name":"Bed Monitor","tab":"886a0b1404d88a4f","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7fafd5362576ee8b","type":"Db2","hostname":"815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud","db":"bludb","port":"30367","name":"Xie TianLun"},{"id":"07d2127e54a49dc3","type":"Db2","hostname":"8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud","db":"bludb","port":"30120","name":"Xingyu"},{"id":"82af2fbf1cbdfc1d","type":"ui_group","name":"Alarm Type Logs","tab":"886a0b1404d88a4f","order":6,"disp":true,"width":"12","collapse":false,"className":""},{"id":"19229f00d2d94efa","type":"twilio-api","name":"+19378723161","sid":"ACb7b88c92ff39cde364760d089ba1479a","from":"+19378723161"},{"id":"886a0b1404d88a4f","type":"ui_tab","name":"Night Wander Dashboard","icon":"dashboard","disabled":false,"hidden":false}]